.article-post {
  overflow: hidden;

  .btn {
    width: 33.33%;
    height: auto !important;
    padding: 4px 8px;
    border-radius: 8px;
    &:hover{
      background-color: rgb(134 137 140 / 10%);
    }
  }
}
