.header {
  height: 56px;
  box-shadow: 0px 0px 3px rgba(0,0,0,0.2);

  .search-form {
    width: 360px;
    max-width: 100%;
    img {
      width: 40px;
      height: 40px;
    }
    .input-search {
      border-radius: 50px;

      input, input:focus {
        border: none !important;
        outline: none !important;
        height: 40px !important;
        background: transparent;
      }
    }
  }
  .main-menu {
    min-width: 680px;
    li {
      a {
        color: #333;
        display: block;
        width: 120px;
        border-radius: 12px;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;

        &:hover {
          background: #f8f9fa;

        }
      }
      i {
        font-size: 24px;
      }
    }
  }
  .other {
    width: 300px;
    max-width: 100%;
    ul  {
      li {
        height: 40px;
        width: 40px;
        display: flex;
        position: relative;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        background: #e4e6eb;
        margin-left: 8px;

        &:first-child {
          background-color: white;
          width: auto;
          max-width: 100px;
          border-radius: 20px;
          padding: 6px;
          font-weight: bold;
          img {
            width: 28px;
            height: 28px;
            border-radius: 50px;
            margin-right: 4px;
          }
        }
        &:hover {
          background-color: #d0d0d0;
        }

        &:active {
          background-color: #e7f3ff;
          color: #1876f2;

          button {
            color: #1876f2;
          }
        }
        button {
          height: 40px !important;
          outline: 0;
          border: 0;
          box-shadow: none;
          &:focus {
            outline: 0;
            border: 0;
          }
        }
        .dropdown-toggle::after {
          display: none;
        }
        i {
          font-size: 18px;
        }
        .dropdown-menu {
          right: 0 !important;
          left: auto;
          top: calc(100% + 4px);
          padding: 8px;
          .dropdown-item {
            padding: 8px;
            border-radius: 8px;
          }
        }
      }
    }
  }
}
