<mat-dialog-content #registerDialog>
  <div class="register-form">
    <div class="position-relative">
      <h2>Đăng ký</h2>
      <p class="text-secondary">Nhanh chóng và dễ dàng</p>
      <i
        class="fa fa-times position-absolute icon-close"
        aria-hidden="true"
        (click)="onClose()"
      ></i>
    </div>
    <hr />
    <form class="row" [formGroup]="registerForm">
      <div
        class="form-group col-md-6"
        [class.error]="registerForm.controls['firstName']?.invalid && isSubmit"
      >
        <input
          type="text"
          class="form-control"
          autocomplete="off"
          placeholder="Họ"
          formControlName="firstName"
          maxlength="30"
          appTrimValue
        />
        <p class="error-inline">Vui lòng nhập họ</p>
      </div>
      <div
        class="form-group col-md-6"
        [class.error]="registerForm.controls['lastName']?.invalid && isSubmit"
      >
        <input
          type="text"
          class="form-control"
          autocomplete="off"
          placeholder="Tên"
          formControlName="lastName"
          maxlength="50"
          appTrimValue
        />
        <p class="error-inline">Vui lòng nhập tên</p>
      </div>
      <div
        class="form-group col-md-12"
        [class.error]="registerForm.controls['userName']?.invalid && isSubmit"
      >
        <input
          type="text"
          class="form-control"
          autocomplete="off"
          formControlName="userName"
          placeholder="Số di động hoặc email"
          appTrimValue
        />
        <p class="error-inline">
          <ng-container
            *ngIf="registerForm.controls['userName'].errors?.['required']"
            >Vui lòng nhập số di động hoặc email</ng-container
          >
          <ng-container
            *ngIf="registerForm.controls['userName'].errors?.['minlength']"
            >Vui lòng nhập ít nhất 6 ký tự</ng-container
          >
        </p>
      </div>
      <div
        class="form-group col-md-12"
        [class.error]="registerForm.controls['password']?.invalid && isSubmit"
      >
        <input
          type="password"
          class="form-control"
          autocomplete="off"
          placeholder="Mật khẩu mới"
          formControlName="password"
          appTrimValue
        />
        <p class="error-inline">
          <ng-container
            *ngIf="registerForm.controls['password'].errors?.['required']"
            >Vui lòng nhập mật khẩu</ng-container
          >
          <ng-container
            *ngIf="registerForm.controls['password'].errors?.['minlength']"
            >Vui lòng nhập ít nhất 8 ký tự</ng-container
          >
        </p>
      </div>
      <div class="form-group col-md-12">
        <h4 class="mb-1 text-secondary">Sinh nhật</h4>
        <div
          class="border rounded date-picker"
          [class.error]="
            registerForm.controls['birthOfDate']?.invalid && isSubmit
          "
        >
          <mat-form-field appearance="fill">
            <input
              formControlName="birthOfDate"
              matInput
              [matDatepicker]="picker"
              (click)="picker.open()"
              placeholder="Nhập ngày tháng năm sinh"
              [max]="presentDate"
            />
            <mat-datepicker-toggle
              matSuffix
              [for]="picker"
            ></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
        </div>
        <p class="error-inline">Vui lòng nhập ngày tháng năm sinh</p>
      </div>
      <div class="form-group mb-0 col-md-12">
        <h4 class="mb-1 text-secondary">Giới tính</h4>
        <div
          class="gender"
          [class.error]="registerForm.controls['gender']?.invalid && isSubmit"
        >
          <mat-radio-group
            formControlName="gender"
            aria-label="Select an option"
          >
            <mat-radio-button class="mr-2" value="male">Nam</mat-radio-button>
            <mat-radio-button value="female">Nữ</mat-radio-button>
          </mat-radio-group>
        </div>
        <p class="error-inline">Vui lòng chọn giới tính</p>
      </div>
    </form>
    <div class="mt-2">
      <span class="text-secondary"
        >Bằng cách nhấp vào Đăng ký, bạn đồng ý với Điều khoản, Chính sách dữ
        liệu và Chính sách cookie của chúng tôi. Bạn có thể nhận được thông báo
        của chúng tôi qua SMS và hủy nhận bất kỳ lúc nào.</span
      >
    </div>

    <div class="text-center">
      <button class="btn btn-success mt-3 mb-2 mx-auto" (click)="submit()">
        Đăng ký
      </button>
    </div>
  </div>
</mat-dialog-content>
